<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Posts Page</title>
</head>
<body>
    <div th:if="${posts.isEmpty()}"  class="noPosts">
        <p>No posts available</p>
    </div>

    <div class="posts-container" th:unless="${posts.isEmpty()}">
        <div th:each="post : ${posts}" class="post-block">

            <h2 th:text="${post.title}">My First Blog Post</h2>
            <p th:text="${post.body}">This is the body of text from the post. It's not very interesting but whatever, it's just a test nothing specail herecccccccccc</p>
            <p class="info"><strong>Created by: </strong> <span th:text="${post.creator}">Elon Musk</span></p>
            <p class="info"><strong>Posted on: </strong> <span th:text="${post.formattedDate}">26/04/2039</span></p>
        </div>

        <div class="post-block">
            <h2 th:text="${post.title}">Worst day of my life</h2>
            <p th:text="${post.body}">This is the body of </p>
            <p class="info"><strong>Created by: </strong> <span th:text="${post.creator}">Dr Disrespect</span></p>
            <p class="info"><strong>Posted on: </strong> <span th:text="${post.formattedDate}">26/04/1574</span></p>
        </div>
    </div>

    <hr>

    <div>
        <form action="#" th:action="@{/post/create}" method="get">
            <button type="submit">Create post</button>
        </form>
    </div>
</body>
</html>