/*Main styles*/

body {
    font-family: Arial, sans-serif;
}

/*home.html styles*/

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-container h1 {
    margin: 15vh 5vw;
    font-size: 3em;
}

.home-container form {
    margin: 2vh;
}

.home-container button {
    background-color: #007bff;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.9em;
    transition: background-color 0.3s ease;
}

.home-container button:hover {
    background-color: #0056b3;
}


/*login.html*/

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style for the login form container */
.loginForm {
    background-color: #fff; /* Optional: Background color for the form */
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 45vw; /* Optional: Width of the form */
}

/* Style for input fields */
.loginForm label {
    margin: 5px;
    font-weight: bold;
    color: #333;
    display: block;
}

.loginForm input {
    width: 95%;
    padding: 8px;
    margin-bottom: 25px; /* Spacing between inputs */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style for the submit button */
.loginForm button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.loginForm button:hover {
    background-color: #0056b3;
}

/* Style for the error message */
.errorMessage {
    color: red;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2em;
}



/*registration.html*/

.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.registerForm {
    background-color: #fff; /* Optional: Background color for the form */
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 45vw;
}

/* Style for input fields */
.registerForm label {
    margin: 5px;
    font-weight: bold;
    color: #333;
    display: block;
}

.registerForm input {
    width: 95%;
    padding: 8px;
    margin-bottom: 25px; /* Spacing between inputs */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.registerForm button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}


/*createPost.html*/

.createPost-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.createPostForm {
    padding: 50px;
    width: 45vw;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.createPostForm label {
    margin: 3px;
    font-weight: bold;
    color: #333;
    display: block;
    font-size: 1.2em;
}

.createPostForm input {
    width: 95%;
    padding: 8px;
    margin-bottom: 20px; /* Spacing between inputs */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.createPostForm button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

.createPostForm textarea {
    margin: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    padding: 7px;
    width: 93%;
}


/*posts.html*/

.post-block {
    border: 2px solid white;
    border-radius: 20px;
    list-style: none;
    margin: 20px;
    padding: 10px;
    display: block;
    width: fit-content;
    max-width: 70vw; /* Set your desired maximum width here */
    overflow-wrap: break-word;
    white-space: normal;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.post-block h2 {
    margin-block-start: 0.33em;
}

.info {
    display: inline;
    font-size: 0.7em;
    margin: 2px;
    color: gray;
}

.noPosts {
    font-size: 2em;
    font-weight: bold;
}